a {
    text-decoration: none;
    color:white;
}
.headContainer {
    display: flex;
    background-color: #616469;
    height: 500px;
}


textarea{
    background-color:#161716; 
    color:white;
    font-size: 15px;
}
.titleItem{
    width:20%;
    /*background:goldenrod;*/
    line-height: 400px;
    text-align: left;
    margin: 8px;
    font-size: 80px;
    color:white;
}

.nameItem{
    width:10%;
    align-self:flex-end;
    text-align: left;
    line-height: 491px;
    padding-right: 30%;
    margin: 5px;
    font-size: 20px;
    color:white;
}
.headItem{
    width: 10%;
    /*background:goldenrod;*/
    align-self:flex-end;
    text-align: center;
    margin: 5px;
    font-size: 40px;
    color:white;
}

.headItem:hover{
    /*background-color: rgb(202, 202, 232);*/
    background-color: #85888f;
}

.active{
    background-color: #85888f;
}


.blogContainer{
    display:flex;
    /*background-color: red;*/
    padding: 20px;
    gap: 10%;
    justify-content: center;
}

.blogItem{
    background-color: #acaeb0;
    color: white;
    height: 700px;
    text-align: center;
    width:450px;
}

.blogItemTitle{
    font-size: 40px;
    padding-top: 5%;
}

.blogPostTitle{
    text-align: center;
}

.titleBlock{
    background-color: #3b3b3b;
}

.blogPost{
    background-color: #acaeb0;
    color: white;
    /*height: 500px;*/
    /*text-align: center;*/
    font-size: 30px;
    padding: 2%;
    width:75%;
}

.blogItem:hover{
    background-color: #919294;
}

.writingContainer{
    display:flex;
    background-color:#acaeb0;
    padding: 20px;
    justify-content: center;
}

.messageContainer{
    width:fit-content;
    height:600px;
    margin:auto;
    background-color:#acaeb0;
    text-align: center;
    color: white;
    font-size: 30px;
    padding: 5%;

}

.button{
    background-color: #919294;
    font-size: 20px;
    color:white;
    float:right;
}