a {
    text-decoration: none;
    color:white;
}
.headContainer {
    display: flex;
    background-color: #616469;
    height: 25%;
}

footer{
    display: flex;
    background-color: rgb(116, 117, 179);
    height: 25%;
    justify-content: center;
    color:white;
}


.titleItem{
    width:20%;
    /*background:goldenrod;*/
    line-height: 300px;
    text-align: left;
    margin: 5px;
    font-size: 60px;
    color:white;
}

.headItem{
    width: 10%;
    /*background:goldenrod;*/
    align-self:flex-end;
    text-align: center;
    margin: 5px;
    font-size: 40px;
    color:white;
}

.headItem:hover{
    /*background-color: rgb(202, 202, 232);*/
    background-color: rgb(161, 161, 196);
}

.active{
    background-color: rgb(161, 161, 196);
}


.blogContainer{
    display:flex;
    /*background-color: red;*/
    padding: 20px;
    gap: 10%;
    justify-content: center;
}

.blogItem{
    background-color: #acaeb0;
    color: white;
    height: 500px;
    text-align: center;
    width:300px;
}

.blogPost{
    background-color: #acaeb0;
    color: white;
    height: 500px;
    text-align: center;
    width:75%;
}

.blogItem:hover{
    background-color: #919294;
}

.writingContainer{
    display:flex;
    
    background-color:#acaeb0;
    padding: 20px;
    justify-content: center;
}


/*
.table{
    margin-left: auto;
    margin-right: auto;
    width:50%;
}

td{
    width: 33%;
    padding-bottom: 33%;
    background-color: goldenrod;
    text-align: center;
    color:white;
}
*/